// DO NOT COMMIT OR EDIT THIS FILE
API_BASE_URL=https:/$()/mcstag.ryman.co.uk/
MAGENTO_TOKEN=rqnvvm6ms42pl46072v6upig92hhb4j6
IMAGE_MOCK_URL=https:/$()/mcstag.ryman.co.uk/media/catalog/product/cache/9e40e7306438e0c5213df868ab4acd5f/
APPLE_PAY_ID=merchant.uk.co.rymanprintingstaging
GOOGLE_PAY_ID=ed8fb553faff1b3
GOOGLE_PAY_GATEWAY=worldpay
SELECTED_STAGE=stage1
GOOGLE_KEY=AIzaSyDtEbmeeDj89hFA9FTAYWg3Gt3U1Wj_QIY
NEWRELIC_IOS_TOKEN=AAe207bcbc6b7193f390b839359ab0bc9060ad06bf-NRMA
NEWRELIC_ANDROID_TOKEN=
CARD_PAYMENT_MERCHANT_ID=4bd2b84d-8d04-4f15-9818-a1b4950b810e
CARD_PAYMENT_URL=https:/$()/try.access.worldpay.com/
HERO_CATEGORY_ID=5373
STORE_GIFTS_CATEGORY_ID=5376
HOME_GIFTS_CATEGORY_ID=5379
